* { 
padding: 0; 
margin: 0;
box-sizing: border-box;
}

.colorbarra {
background: #1572a1;
}
.letra {
color: rgb(249, 247, 249);
}

.titulo {
  color: #1572a1;
}

.bg-custom-footer {
  background-color: rgb(239 240 240);
}

/*--- Carousel ---*/

.carousel-item img {
  height: 400px; 
  object-fit: cover; 
  filter: brightness(0.7);
  }
  
  .carousel-caption {
  color: white; 
  background-color: rgba(0, 0, 0, 0.549); 
  border-radius: 10px;
  }
  
  .carousel-caption h5 {
  font-size: 2em; 
  }
  
  .carousel-caption p {
  font-size: 1.0em; 
  color: #d6d2d2;
  }

  /*--- Cards ---*/


.card {
  box-shadow: 0px 1px 10px rgb(0, 0, 0.2);
  cursor: pointer;
  transition: all 400ms ease;
}

.card .card-body p {
  line-height: 1.5;
  color: #6a6a66;
  padding: 6px 0;
  }

.card h5 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card .card-body {
text-align: center;
}

.rounded {
  margin-left: 80px;
  margin-top: 10px;
}

 /*--- Modal ---*/
 .modal-dialog {
  margin-top: 100px; 
}

 /*--- App ---*/

.containers {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #3191c1;
  border-radius: 7px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  flex-basis: 40%; 
}

.left-side img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 70px
}

.right-side {
  flex-basis: 55%; /
}

.right-side p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 19px;
}

h4 {
  color: white;
  text-align: center;
}

.bottom-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.bottom-images img {
  width: 25%; 
  height: auto;
  margin: 0 15px;
}

/*Pantallas pequeñas */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    flex-basis: 100%; 
    text-align: center;
  }

  .bottom-images {
    flex-direction: column;
  }

  .bottom-images img {
    width: 40%; 
    margin-bottom: 15px;
    
  }
}

/*--- Footer ---*/

a {
  text-decoration: none;
  font-size: 17px;
}

p {
  font-size: 17px;
}

a:hover {
  color:#1572a1 !important;
}

i {
  font-size: 25px;
}

/*--- Card ---*/

.contenidos {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
align-items: flex-start;
}


/*--- Formulario de Contacto---*/

.form-container {
width: 80%;
margin: 0 auto;
margin-top: -2rem;
}






